.about{
    margin-top: 20vh;
    margin-bottom: 20vh;
    min-height: 80vh;
    h1{
        font-size: 10vh;
        margin: 0%;
    }
    h2{
        color: grey;
    }
    h4{
        margin-top: 10vh;
    }
}