.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #002790;
    div{
        display:flex;
        flex-direction: row;
        justify-items: space-around;
        align-items: center;
        margin-left: 2vh;
        margin-right: 2vh;
        a{
            display: flex;
            text-decoration: none;
            margin-left: 2vh;
            margin-right: 2vh;
            color: white;
            p{
                margin:0%;
                margin: 0%;
            }
        }
        .MuiDivider-vertical{
            border-color: white;
            margin-top: 0%;
            margin-bottom: 0%;
            height:auto;
        }
        .MuiFormControl-root{
            margin: 0%;
        }
    }
}