.skills{
    margin-top: 20vh;
    margin-bottom: 20vh;
    h1{
        font-size: 10vh;
        margin: 0%;
        text-align: center;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
        padding: 10vh;

        img{
            padding: 5vh;
        }
    }
}